.searcher input {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    width: 50%;
    margin: 10px 0px;
}

.searcher input:focus{
    border-color:#0366d6 ;
}