ul {
  list-style-type: none;
  padding: 0px;
}
ul li {
  list-style-type: none;
  border: 1px solid #eaecef;
  border-top: none;
  padding: 0px;
}
ul li:first-child {
    border-top: 1px solid #eaecef;
}
