.breadcrumb {
    margin: 10px 0;
}
.breadcrumb a {
    text-decoration:none; 
    font-size: 20px;
    color: #0366d6; /* blue colors for links too */
    font-weight: 600;
}

.breadcrumb a:hover {
    text-decoration: underline;    
}