.issue{
    padding: 10px 15px;
    transition: 0.3s ease;
    cursor: pointer;
}
.issue:hover {
    background-color: #f6f8fa;
    transition: 0.3s ease;

}

.issue-body{
    width: 70%;
    font-size: 16px;
}
.issue-body p {
    display: inline-block;
    font-weight: 600;
    margin-right: 10px;
}
.issue-body spam {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}
.issue-footer {
    margin-top: 8px;
    font-size: 16px;
    color: #586069
}

